@import url("https://use.typekit.net/vug8pnv.css");


body {
    background: #e5e5e5;
  }
  .main {
    margin:80px 30px 0px;
    padding: 35px;
    height: 834px;
    background: white;
    border-radius: 30px;
  }
  .mynav {
    padding: 3px;
    width: 60%;
    height: 49px;
    background: violet;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
  }
  .navtext {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }
  .reminder_card{
    width: 686px;
    height: 543px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
  }
  .email_card{
    width: 368px;
    height: 543px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
  }
  .alarm_headtext{
    font-family: roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 30px;
color: #9D9D9D;
  }
  .alarm_text{
    font-family: roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #9D9D9D;
  }
  .alarm_dropdown{
    width: 288px; color:#9D9D9D; border:1px #9D9D9D;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
  }
  .start_alarm{
    border-color: white;
    background: #9037C7;
border-radius: 34px;
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
width: 235px;
height: 50px;
color: #FFFFFF;
  }