@import url("https://use.typekit.net/vug8pnv.css");

body {
  background: #e5e5e5;
  padding: 30px;
}
.main {
  padding: 35px;
  height: 834px;
  background: white;
  border-radius: 30px;
}
.mynav {
  padding: 3px;
  width: 60%;
  height: 49px;
  background: violet;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}
.navtext {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.ph_box {
  width: 422px;
height: 184px;
  margin-right:60px;
  background: #ffffff;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.phtext {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #9d9d9d;
}
.ph_value {
  width: 147px;
  height: 55px;

  font-family: droid-sans,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  color: #9d9d9d;
}
.temp_card{
    width: 182px;
height: 186px;
padding: 50px;
margin-right: 20px;
background: #FFFFFF;
box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
border-radius: 30px;
}
.temp_utext{
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #9D9D9D;
}
.temp_ltext{
  font-family: droid-sans,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #9D9D9D;
}
.button{
  color: white;
  width: 157px;
height: 50px;
border-color: white;
border-radius: 34px;
}
.input_row{
  width: 60%;
  margin: 0 auto;
}
.mode{
  width: 224px;
height: 45px;
background: #FFFFFF;
box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
border-radius: 30px;
}

.mytable{
  width: 879px;
height: 351px;
margin: 0 auto;
background: #FFFFFF;
box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
border-radius: 15px;
}
