@import url("https://use.typekit.net/vug8pnv.css");

body {
  background: #e5e5e5;
  padding: 30px;
}
.main {
  padding-top: 35px;
  height: 834px;
  background: white;
  border-radius: 30px;
}
.mynav {
  padding: 5px;
  width: 60%;
  height: 49px;
  background: violet;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}
.navtext {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.ph_box {
  width: 593px;
  height: 225px;
  background: #ffffff;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.sidebox {
  padding:30px 30px;
  width: 387px;
  height: 590px;
  background: #ffffff;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.temp_volt {
  width: 599px;
  height: 103px;

  background: #ffffff;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.reaction {
  width: 593px;
  height: 182px;

  background: #ffffff;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.phtext {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #9d9d9d;
}
.ph_value {
  width: 147px;
  height: 55px;

  font-family: droid-sans,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  color: #9d9d9d;
}
.temp_volt_text {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #9d9d9d;
}
.temp_volt_value {
  font-family: droid-sans,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #9d9d9d;
}
.reaction_text{
  font-family: roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #9D9D9D;
}
.sidebox_text{
font-family: droid-sans,sans-serif;
font-style: normal;
color: #9D9D9D;
}
