@import url("https://use.typekit.net/vug8pnv.css");

body {
  background: #e5e5e5;
  padding: 30px;
}
.main {
  padding: 35px;
  height: 834px;
  background: white;
  border-radius: 30px;
}
.mynav {
  padding: 5px;
  width: 60%;
  height: 49px;
  background: violet;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}
.navtext {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.speed_card{
  margin: auto;
  width: 906px;
  height: 274px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.caliberation_card{
  width: 559px;
height: 261px;
background: #FFFFFF;
box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
border-radius: 30px;
}
.direction_card{
  width: 322px;
height: 261px;
background: #FFFFFF;
box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
border-radius: 30px;
}
.pump_text{
  font-family: Roboto;
font-style: normal;
font-size: 24px;
color: #9D9D9D;
}
.set{
  border-color: white;
  width: 157px;
height: 50px;
margin-top: 80px;
background: #3CEA43;
border-radius: 34px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;

color: #FFFFFF;
}
.start{
  border-color: white;
  width: 157px;
height: 50px;
color: white;
background: #9037C7;
border-radius: 34px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
}

/* slider css */
.toggle{
  transition: all .5s;
  background-color: #EF2B2E;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

 .toggle::before{
   content: '';
   transition: all .5s;
   position: absolute;
   width: 30px;
   height: 30px;
   border-radius: 100%;
   background-color: white;
   top: 0%;
   left: 2%;
   
}

.toggle::after{
  transition: all .5s;
  position: absolute;
  left: 11%;
  height: 15px;
  width: 15px;
  border: solid 1px white;
  border-radius: 100%;
}

.toggle:hover{
  cursor: pointer;
}

.toggle.active{
  transition: all .5s;
  background-color: #1AFF83;
}

.toggle.active::before{
  transition: all .5s;
  background-color: white;
  left: 48%;
}


.toggle.active::after{
  transition: all .5s;
  background-color: #007EA7;
  left: 73%;
  width: .1px;
  border-radius: 0px;
}


p {
  color: white;
}